body {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
/* logo*/
.logo {
    border: 1px solid blue;
    height: 300px;
    width: 100%;
    background-image: url('../images/grey-blue-cars-put-each-other-cloudy-sky_181624-16862.avif');
}
.car {
    text-align: center;
    margin-top: 40px;
    color: rgb(26, 98, 148);

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: rgb(26, 98, 148);
}



/*nav bar*/


li a:hover{
    font-size: large;
    border: 1px soli black;
}
li {
    display: inline-block;
    margin: 50px;
    text-decoration: none;
    text-align: center;
    
    
}
ul {
    border: 1px solid black;
    text-align: center;

}

/*Car enthusi*/
p {
    text-align: center;
    padding: 20px;
    
}
.comment {
    border: 1px solid black;
}