
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* logo*/


h1, h2{
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    
}
#logo {
    float: left;
    font-size: 280%;
    
    
}

/* navigation linke*/

#logo, #nav {
    line-height: 75px;
}

#nav {
    font-size: 110%;
    letter-spacing: 4px;
}

#nav li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#nav a {
    text-decoration: none;
    color: inherit;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* car image main */

#car-main {
    height: 600px;
    width: 100%;
    background-image:  url('../images/grey-blue-cars-put-each-other-cloudy-sky_181624-16862.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
    
}
 /*header text*/
 #header-text {
    text-align: center;
 }
/*section 1*/

#muscle {
    height: 300px;
    width: 100%;
    background-image: url('../images/sedan-parked-deserted-area-cloudy-sky_181624-24377.avif');
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    
}

/* muscle text*/



#muscle-text {
    padding: 40px;
    text-align: justify;
    font-size: 150%;
}

/* section 2 classics*/

#classics {
    height: 300px;
    width: 100%;
    background-image: url('../images/closeup-shot-grey-car-front-building_181624-27502.jpg');
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    

}
/*classic text*/

#classic-text {
    padding: 40px;
    text-align: justify;
    font-size: 150%;
    
}

/* section 3 vw image*/
.vw {
    height: 300px;
    width: 100%;
    background-image: url('../images/low-transport-bright-car-motor_1304-1329.avif');
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    

}
/*vw text*/

#vw-text {
    padding: 40px;
    text-align: justify;
    font-size: 150%;

    
}
/*event  time*/

.time {
    height: 150px;
    width: 33%;
    display: inline-block;
    
}



/*footer*/
footer {
    height: 150px;
    
}

.social-media {
    text-align: center;
    
}
.social-media>li {
    display: inline;
    
}

.social-media i{
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
    clear: both;
    
}
  





